*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
button {
  text-align: center;
  color: #fff;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}
button:hover {
  background-color: var(--green-l);
  transition: var(--smooth);
}
:root {
  --green: #54b192;
  --gray: #3f3d56;
  --green-l: #a4cec0;
  --smooth: all 0.3s ease-in;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}
#overlay.show {
  display: initial;
}
/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
  height: 20vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
@media (max-width: 796px) {
  header {
    height: 6vh;
  }
  .navbar__logo img {
    width: 100px;
    height: 43px;
  }
}
/* menu */
.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--gray);
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}
.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}
.navbar__link {
  list-style: none;
  margin: 55px;
}
.navbar__link a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300px;
  transition: var(--smooth);
}
.navbar__link a:hover {
  color: var(--green);
  transition: var(--smooth);
}
.navbar__btn {
  font-size: 1rem;
  background-color: var(--green);
  margin-left: 45px;
}
.navbar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}
.navbar__icon {
  width: 45px;
  height: 6px;
  background-color: var(--gray);
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: var(--gray);
  border-radius: 5px;
  transition: var(--smooth);
}
.navbar__icon:before {
  transform: translateY(-12px);
}
.navbar__icon:after {
  transform: translateY(12px);
}
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}

.open .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
}
@media (min-width: 796px) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar__link a {
    color: var(--gray);
  }
  .navbar__icons {
    display: none;
  }
  .navbar__btn {
    background-color: var(--gray);
  }
}

/* banner */
#banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}
.banner__img {
  position: absolute;
  top: 20%;
  right: 0;
  z-index: -1;
  width: 580px;
  height: 500px;
  border-radius: 5px;
}
.banner__heading {
  max-width: 300px;
  color: var(--gray);
}
.banner__heading h1 {
  font-size: 2.25rem;
  padding-top: 4em;
  margin-bottom: 0.8em;
}
.banner__heading p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
}
.banner__btn {
  font-size: 1rem;
}
.banner__socials {
  margin-top: 3em;
  display: flex;
  justify-content: left;
  font-size: 1.5rem;
}

.banner__socials a {
  color: var(--gray);
  transition: var(--smooth);
  padding-right: 40px;
}
.banner__socials a:hover {
  color: var(--green-l);
  transition: var(--smooth);
}
@media (max-width: 796px) {
  #banner {
    margin-bottom: -174px;
  }
  .banner__heading {
    position: absolute;
    margin: 0 60px;
  }
  .banner__heading h1 {
    padding-top: 0px;
    font-size: 20px;
    margin-bottom: 0.8em;
  }
  .banner__heading p {
    font-size: 10px;
  }
  .banner__socials {
    display: none;
  }
  .banner__img {
    top: 50px;
    width: 300px;
  }
}
/* about */
.about_1 {
  text-align: center;
  color: var(--gray);
  font-size: 36px;
}
.about .about_1 {
  position: relative;

  margin-bottom: 50px;
}

/* about__dec */
.about__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-6%);
  z-index: -1;
}
.about__dec:first-child {
  width: 50vh;
}
.about__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 75%;
  right: 0;
  transform: translateX(5%);
  overflow: hidden;
  z-index: -1;
}
#slide {
  text-align: center;
}
#slide img {
  width: 790px;
  height: 790px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}
.introduce {
  height: 266px;
  line-height: 39px;
  padding-left: 65px;
  align-items: center;
}
.introduce ul {
  margin-top: 16px;
  font-size: 20px;
  padding-left: 10%;
  height: 10px;
  color: var(--gray);
  list-style: none;
  width: 1100px;
}
@media (max-width: 796px) {
  #about2 {
    position: relative;
    margin-top: 20px;
  }
  #slide img {
    width: 355px;
    height: 355px;
  }
  .introduce {
    position: relative;
    left: -36%;
  }
  .introduce ul {
    line-height: 30px;
    width: 370px;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .about__dec {
    display: none;
  }
  .about__dec:nth-child(2) {
    display: none;
  }
}
/* things  */
#things {
  position: relative;
  overflow: hidden;
  margin-top: 1em;
}
#things h2 {
  text-align: center;
  font-size: 40px;
  color: var(--gray);
}
.things__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}
.things__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  overflow: hidden;
  z-index: -1;
}
.things__item {
  margin: 3em 0;
}
.things__item img {
  padding-bottom: 4em;
}
.things__item--heading {
  text-align: center;
  color: var(--gray);
}

.things__item--heading p {
  font-weight: 300;
  line-height: 2em;
  min-width: 300px;
  margin: 0 auto;
  padding-top: 1em;
}
@media (min-width: 796px) {
  .things__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .things__item img {
    width: 20%;
    padding-bottom: 0;
  }
  .things__item--heading {
    width: 45%;
    text-align: initial;
  }
  .things__item--heading p {
    max-width: 500px;
    margin: 0;
  }
  .things__item:nth-child(odd) img {
    order: 2;
    width: 40%;
    padding-bottom: 0;
  }
  .things__item--heading:nth-child(odd) {
    order: 1;
    width: 45%;
    text-align: initial;
  }
}
/* works */
#works {
  padding-top: 10em;
  position: relative;
  overflow: hidden;
}
#works h2 {
  text-align: center;
  color: var(--gray);
}
.works__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}
.works__dec:nth-child(2) {
  position: absolute;
  top: initial;
  left: initial;
  bottom: 29%;
  right: 0;
  transform: translateX(6%);
  z-index: -1;
}
.works__img--single {
  margin: 2em 0;
}
.works__img--single img {
  border-radius: 20px;
  width: 517px;
  height: 475px;
}
.works__img--single:nth-child(odd) {
  padding-top: 5em;
}
.works__img--single:nth-child(3) {
  margin-top: -5em;
}
.works__btn {
  text-align: center;
  margin-bottom: 8em;
}
.works__btn button {
  font-size: 1rem;
}

#works h2 {
  margin-bottom: 3em;
}
.works__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.works__img--single {
  padding: 0 30px;
}
.works__img--single:nth-child(3) {
  margin-top: 0;
}
@media (max-width: 795px) {
  .works__dec:nth-child(2) img {
    display: none;
  }
  .works__img--single {
    padding: 0;
  }
}
/* testimonials */
#Testimonials h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: var(--gray);
}
#Testimonials h2:hover {
  color: var(--green-l);
}
.testimonials .testimonials_1 {
  margin-left: 100px;
  text-align: center;
  font-size: 27px;
  color: var(--gray);
  float: left;
  width: 40%;
  height: auto;
  justify-content: space-between;
  list-style: none;
}
.testimonials .testimonials_1 img {
  width: 95%;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
@media (max-width: 796px) {
  .testimonials .testimonials_1 {
    width: 100%;
    height: auto;
    margin-left: 0;
    font-size: 25px;
  }
}
/* footer */
#footer {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.footer__img {
  position: absolute;
  top: 100px;
  right: 0;
  transform: translateX(25%);
  z-index: -1;
  width: 35%;
}
.footer__img img {
  border-radius: 5px;
}
.footer__dec {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(5%);
  z-index: -1;
}
.footer__heading {
  max-width: 400px;
  color: var(--gray);
  text-align: initial;
  margin: 0;
}
.footer__contact {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}
.footer__contact a {
  text-decoration: none;
  color: var(--gray);
}
@media (max-width: 796px) {
  #footer {
    height: 66vh;
  }
  .footer__dec img {
    display: none;
  }
  .footer__heading {
    margin-top: 50px;
    max-width: 179px;
  }
  .footer__img {
    width: 300px;
  }
  .banner__socials {
    margin-top: 1em;
    display: flex;
    justify-content: left;
    font-size: 1.5rem;
  }

  .banner__socials a {
    color: var(--gray);
    transition: var(--smooth);
    padding-right: 40px;
  }
  .banner__socials a:hover {
    color: var(--green-l);
    transition: var(--smooth);
  }
}

/* contact */
.footer__contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 796px) {
}

.contact-form h2 {
  color: var(--gray);
}
.contact-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--gray);
}

.contact-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: var(--gray);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--green-l);
}
#backToTopBtn {
  position: fixed;
  bottom: 3%;
  transform: translateX(200vh);
  width: auto;
  height: auto;
  color: rgb(251, 105, 9);
  font-size: 20px;
  text-decoration: none;
}
@media (max-width: 768px) {
  #backToTopBtn {
    position: fixed;
    bottom: 3%;
    transform: translateX(39vh);
    width: auto;
    height: auto;
    color: rgb(251, 105, 9);
    font-size: 20px;
    text-decoration: none;
  }
}
